body {
    margin: 0;
    background-size: cover;
/*    display: flex;*/
    height: 100vh;
/*    justify-content: center;*/
/*    min-width: 250px;*/
    font-family: sans-serif;
    background-attachment: fixed;
    background: black;
}

/* padding and margins */
* {
  box-sizing: border-box;
}

/* form padding */
form {
    padding-left: 15px;
    padding-right: 15px;
}
/* added margins and removed padding from the list */
ul {
    margin: 0;
    margin-top: 6em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0px;
}

/* styling of items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* unselectable items */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* different colours 'odd' */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* no success yet*/
/*ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
*/

/* Add a "checked" mark when clicked on / no success */
/*ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
*/
/* button styling */
a, .close {
  position: absolute;
  right: 0;
  font-size: 27px;
  top: 0;
  padding: 12px 16px 12px 16px;
}

a,.close:hover {
  background-color: #fb7369fc;
  color: white;
  text-decoration: none;
}

/* header styling */
.header {
  font-size: 4rem;
  padding: 14px;
  color: white;
  text-align: center;
}


/* Style the input */
input {
  margin-bottom: 15px;
  border: none;
  width: 100%;
  padding: 15px;
  float: right;
  font-size: 12px;
  font-style: italic;
  font-family: sans-serif;
  border-radius: 25px 25px 25px 25px;
}

/* Style the "Add" button */
.addBtn {
  margin-top: 0px;
  padding: 11px;
  width: 100%;
  border: none;
  border-radius: 25px 25px 25px 25px;
  display: block;
  background: #6da72ae3;
  color: #fff;
  float: right;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}



/* footer styling */
footer {
    text-align: center;
    font-size: 13px;
    font-family: serif;
    color: #ffffff;
    position: sticky;
}